.details {
  position: relative;
  flex: 1;
  background: var(--bg-body);
}
.detailsDescription {
  background-color: #333;
  padding: 16px 0;
}
.detailsContainer {
  max-width: 900px !important;
  margin: 0 auto;
}
.subTopicsContent {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 32px;
  margin-top: 32px;
}

@media only screen and (max-width: 768px) {
  .detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .details__description {
    max-width: 100%;
  }
  .details__sub-topics-container {
    max-width: 100%;
  }
  .details__sub-topics {
    width: 100%;
  }
  .details__sidebar {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-top: 16px;
    transform: translateX(0);
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 0;
  }
  .details__button-container {
    margin: 0;
  }
  .details__favorite-button {
    width: 100%;
  }
}
