.noBorder {
  border: none !important;
}

.cardCustom {
  transition: transform 0.3s ease-in-out;
  background-color: var(--bg-default);
}

.cardCustom:hover {
  transform: scale(1.05);
  cursor: pointer !important;
  transition: transform 0.3s ease-in-out;
}

.card-img-top {
  height: 150px !important;
}

.cardTitle {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--body-text) !important;
  margin-top: -4px;
}
.isFavorite .cardTitle {
  margin: 0px !important;
}

.cardSubtitle {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--body-text) !important;
  margin: 5px 0;
}

.cardRating ion-icon {
  color: var(--gold-color);
}
.isFavorite .cardRating {
  margin-top: 8px !important;
}
.cardAuthor {
  font-size: 14px;
  font-weight: var(--font-weight-light);
  color: var(--body-text);
}
.image {
  height: 150px !important;
}
.isFavorite .image {
  height: 80px !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card__favorite .card-img-top {
  height: 80px !important;
}
.card__favorite.card-title {
  margin: 0;
}
.card__favorite .card-rating {
  margin-top: 0px;
}
